@import "@theme";

.expert-wrapper {
    margin-top: 12px;

    .select-header-text {
        margin-bottom: 52px;
    }

    .list-experts {
        max-width: 266px;
        min-width: 266px;
        width: 100%;
        margin-top: 10px;
        margin-right: 12px;

        .badge {
            &.simple {
                color: #FFFFFF;
                padding: 1px 5px;
                background: $common-color-6;
            }
        }

        img {
            width: 60px;
            height: 60px;
        }

        .item-expert {
            padding: 11px 13px;
            border-radius: 5px;

            &.select {
                background: $theme-color-2;
                flex-direction: row;

                .name {
                    color: #FFFFFF;
                }

                .role {
                    color: #FFFFFF;
                    opacity: 0.7;
                }
            }

            &:hover:not(.select) {
                cursor: pointer;
                background: $common-color-2;
            }

            .name {
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                color: $theme-color-4;
            }

            .role {
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                color: $common-color-4;
                opacity: 0.7;
            }
        }
    }

    .details-expert {

        .total {
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;
            color: $common-color-4;
            margin-bottom: 3px;
        }

        button {
            &.link {
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
            }
        }

        .review-creator {
            color: $common-color-4;
        }

        .rating {
            i {
                color: $theme-color-3;

                &:not(:last-child) {
                    margin-right: 8px;
                }
            }
        }
    }


    .achievement {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: $theme-color-4;

        &-img {
            -webkit-mask: url("/img/icons/check-certified.svg") no-repeat center;
            mask: url("/img/icons/check-certified.svg") no-repeat center;
            background-color: $theme-color-2;
            width: 18px;
            height: 18px;
        }
    }

    .separator {
        background: $common-color-2;
    }

    .bio {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        width: 293px;
        color: $theme-color-4;

        img {
            width: 293px;
            margin-bottom: 91px;
        }
    }

    .review {
        width: 771px;

        &-details {
            img {
                width: 109px;
                height: 45px;
            }
        }

        &-date, &-creator {
            font-size: 12px;
            font-weight: 700;
            line-height: 15px;
            color: rgba(33, 33, 33, 0.5);
        }

        &-creator {
            margin-top: 6px;
        }

        &-navigation {
            margin-top: 55px;
        }
    }

    .card-expert {
        background: $common-color-1;
        border-radius: $card-border-radius;
        padding: 16px;

        .info {
            font-size: 14px;
            line-height: 22px;
            font-weight: 500;
            color: #2D364C;
        }

        &.gallery {
            padding: 40px 28px;

            .image {
                position: relative;

                &:not(:first-child) {
                    margin-left: 21px;
                }

                &:last-child:after {
                    position: absolute;
                    background: rgba(35, 31, 32, 0.5);
                    content: "+ 23 photos";
                    color: #FFFFFF;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 169.5%;
                    width: 164px;
                    height: 110px;
                    top: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }

    .buttons {
        button {
            margin-bottom: 30px;
        }
    }

    .bio-block {
        margin-right: 25px;
    }

}
