@use 'sass:map';

@mixin btn() {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    font-family: inherit;
    padding: 11.5px 42px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}


@mixin btn-primary($color-mapper, $color) {
    @include btn;

    @debug 'A!2' $color;

    color: map-get($color-mapper, #{$color}-10);
    background: map-get($color-mapper, #{$color}-100);

    &:hover:enabled {
        background: map-get($color-mapper, #{$color}-80)
    }

    &:disabled {
        background: map-get($color-mapper, #{$color}-40);
    }
}

@mixin btn-secondary($color-mapper, $color) {
    @include btn;
    border: 1px solid map-get($color-mapper, #{$color}-120);

    color: map-get($color-mapper, #{$color}-10);
    background: map-get($color-mapper, #{$color}-100);

    &:hover:enabled {
        color: map-get($color-mapper, #{$color}-10);
        background: map-get($color-mapper, #{$color}-80)
    }

    &:disabled {
        background: map-get($color-mapper, #{$color}-40);
    }
}

@mixin btn-link($color-mapper, $color) {
    @include btn;

    color: map-get($color-mapper, #{$color}-100);

    &:hover:enabled {
        background: map-get($color-mapper, #{$color}-10)
    }

    i {
        width: 16px;
        height: 16px;
        margin-right: 8px;
    }
}
