@import '@theme';

@import "../../scss/mixins/query.mixin";

button {
    border: none;
    padding: 11.5px 42px;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
    border-radius: $button-border-radius;
    max-height: 42px;

    @include phone-query {
        padding: 11.5px 25px;
    }

    i {
        width: 15px;
        height: 15px;
        margin-right: 10px;
    }

    &.primary {
        color: $button-color;
        background: $button-background;
        border: $button-border;

        &:hover:enabled {
            background: $button-background-hover;
            color: $button-color-hover;
            border: $button-border-hover;
            text-decoration: underline;
        }

        &:disabled {
            background: $common-color-2;
        }

        i {
            color: #FFFFFF;
        }
    }

    &.secondary {
        color: $theme-color-4;
        border: 1px solid $theme-color-4;
        background: #FFFFFF;

        &:hover:enabled {
            color: #FFFFFF;
            background: $theme-color-4;
            text-decoration: underline;
        }

        &:disabled {
            color: $common-color-2;
            border-color: $common-color-2;
        }

        //i {
        //    color: red;
        //}
    }

    &.link {
        border-radius: 8px;
        padding: 9px 10px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: $theme-color-2;

        //&:hover:enabled {
        //    background:$theme-color-2;
        //}
        //
        //&:disabled {
        //    color: $theme-color-2;
        //}

        i {
            width: 16px;
            height: 16px;
            margin-right: 8px;
        }
    }

}



