@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

@import "base";
@import "override";
@import "components";
@import "pages";
@import "modals";
@import "mixins";
@import "@theme";

* {
    font-family: $font-family;
}

body {
    min-height: 100vh;

    .sidebar {
        &.close {
            ~ .content {
                left: 88px;
                width: calc(100% - 88px);

                @include phone-query {
                    width: 100%;
                }
            }
        }
    }

    .content {
        position: absolute;
        top: 0;
        left: 280px;
        width: calc(100% - 280px);
        transition: all .2s ease;

        @include phone-query {
            width: 100%;
            position: unset;
            padding: 0 16px;
        }
    }

    .ui-helper-hidden-accessible {
        display: none;
    }

    .ui-tooltip {
        background: #4a4a4a;
        color: #96f226;
        border: 2px solid #454545;
        border-radius: 0;
        box-shadow: 0 0
    }

    .ui-autocomplete {
        background: #FFFFFF;
        border-radius: 6px;
        border: 1px solid $common-color-4;
        margin: 6px 0 0 0;
    }
}


