@import '@theme';
@import "../../scss/common/colors";
@import "../../scss/mixins/query.mixin";

body.mobile-navigation {
    overflow: hidden;
}

.sidebar-mobile {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background: $common-color-4;
    position: relative;

    @include phone-query {
        display: flex;
    }

    &_ask {
        width: 51px;
        height: 50px;
        background: $common-color-2;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 24px;
            height: 24px;
        }
    }

    &_name {
        font-size: 14px;
        font-weight: 500;
        color: #FFFFFF;
    }

    &_toogle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 51px;

        img {
            width: 24px;
            height: 24px;
        }
    }


    .menu-bar {
        display: none;
        position: absolute;
        top: 0;
        z-index: 99999;
        width: 100%;
        background: $common-color-1;
        height: 100vh;

        .menu {

            #close-mobile {
                padding: 16px;
            }

            .dealer-name {
                padding: 16px;
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                margin-bottom: 39px;
            }

            &-items {
                .menu-item {
                    cursor: pointer;
                    font-size: 16px;
                    line-height: 19px;
                    font-weight: 600;
                    padding: 14px 16px;
                    white-space: nowrap;
                    color: $theme-color-4;

                    .img {
                        width: 32px;
                        height: 32px;
                        min-width: 32px;
                        background-color: $common-color-3;

                        &-home {
                            -webkit-mask: url("/img/icons/home.svg") no-repeat center;
                            mask: url("/img/icons/home.svg") no-repeat center;
                        }

                        &-user {
                            -webkit-mask: url("/img/icons/user.svg") no-repeat center;
                            mask: url("/img/icons/user.svg") no-repeat center;
                        }

                        &-vehicle {
                            -webkit-mask: url("/img/icons/vehicle.svg") no-repeat center;
                            mask: url("/img/icons/vehicle.svg") no-repeat center;
                        }

                        &-trade {
                            -webkit-mask: url("/img/icons/trade.svg") no-repeat center;
                            mask: url("/img/icons/trade.svg") no-repeat center;
                        }

                        &-calculate {
                            -webkit-mask: url("/img/icons/calculator.svg") no-repeat center;
                            mask: url("/img/icons/calculator.svg") no-repeat center;
                        }

                        &-schedule {
                            -webkit-mask: url("/img/icons/schedule.svg") no-repeat center;
                            mask: url("/img/icons/schedule.svg") no-repeat center;
                        }

                        &-coins {
                            -webkit-mask: url("/img/icons/coins.svg") no-repeat center;
                            mask: url("/img/icons/coins.svg") no-repeat center;
                        }

                        &-summary {
                            -webkit-mask: url("/img/icons/summary.svg") no-repeat center;
                            mask: url("/img/icons/summary.svg") no-repeat center;
                        }
                    }

                    &.active {
                        background: $theme-color-2;
                        color: #FFFFFF;

                        .img {
                            background-color: #FFFFFF;
                        }
                    }

                    &:hover:not(.active) {
                        color: $theme-color-4;
                        background: $common-color-2;
                        transition: background-color ease-in-out .2s;

                        .router-link {
                            color: $theme-color-2;
                        }

                        .img {
                            background-color: $common-color-3;
                        }
                    }


                    .router-link {
                        color: $theme-color-2;
                    }


                    .router-link.hidden + .not-done {
                        color: rgba(255, 255, 255, 0.8);
                    }
                }
            }
        }
    }

    .progress {
        position: absolute;
        bottom: 31px;
        left: 0;
        width: calc(100% - 14px);
        margin-right: 14px;
        background: $theme-color-4;
        color: #FFFFFF;

        &-white {
            color: #FFFFFF;

            i {
                color: #FFFFFF;
                margin-right: 6px;
            }
        }

        &-dark {
            color: rgba(255, 255, 255, 0.8);
        }


        progress {
            border: 0;
            height: 10px;
            border-radius: 36px;
            background: $common-color-4;
        }

        progress::-webkit-progress-bar {
            border: 0;
            height: 10px;
            border-radius: 24px;
            background: $common-color-4
        }

        progress::-webkit-progress-value {
            border: 0;
            height: 10px;
            border-radius: 24px;
            background-color: #FFFFFF !important;
        }

        progress::-moz-progress-bar {
            border: 0;
            height: 10px;
            border-radius: 24px;
            background: rgba(255, 255, 255, 0.5);
        }
    }
}

