@import "@theme";

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: $theme-color-2;
}

h1 {
    font-size: 54px;
    line-height: 64px;
    color: $theme-color-4;
}

h2 {
    font-size: 40px;
    line-height: 48px;
    color: $theme-color-2;
}

h3 {
    font-size: 28px;
    line-height: 33px;
    color: $theme-color-2;
}

h4 {
    font-size: 24px;
    line-height: 29px;
    color: $theme-color-4;
}

h5 {
    font-size: 20px;
    line-height: 24px;
    color: $theme-color-4;
}

h6 {
    font-size: 12px;
    line-height: 14px;
    color: $theme-color-4;
}

.p1, .p2, .p3 {
    font-weight: 500;
    color: $theme-color-4;
}

.p1 {
    font-size: 16px;
    line-height: 26px;
}

.p2 {
    font-size: 14px;
    line-height: 22px;
}

.p3 {
    font-size: 12px;
    line-height: 18px;
}
