$theme-color-1: #FBF2F2;
$theme-color-2: #B50000;
$theme-color-3: #B50000;
$theme-color-4: #3E3E3E;

$button-background: $theme-color-3;
$button-color: #FFFFFF;
$button-border: none;
$button-background-hover: $theme-color-3;
$button-border-hover: none;
$button-color-hover: #FFFFFF;

$button-border-radius: 0;
$card-border-radius: 0;
