$WNB-120: #001647;
$WNB-100: #00267A;
$WNB-80: #335094;
$WNB-60: #99A7C9;
$WNB-40: #D9DCEA;
$WNB-20: #EBEEF5;
$WNB-10: #F6F7FC;

$WBG-100: #2D364C;
$WBG-80: #5C6077;
$WBG-60: #83859A;
$WBG-40: #C1C1D0;
$WBG-20: #E0E0E7;
$WBG-10: #EFEFF3;

$WTQ-120: #17B395;
$WTQ-100: #1ACBAA;
$WTQ-60: #76E0CC;
$WTQ-40: #A3EADD;
$WTQ-20: #D3F5EF;
$WTQ-10: #F3FCFB;

$WR-100: #FF3C47;
$WR-80: #FF636C;
$WR-60: #FF8A91;
$WR-40: #FFB1B6;
$WR-20: #FFD8DA;
$WR-10: #FFECED;

$WO-120: #F56E00;
$WO-100: #FF8F00;
$WO-80: #FFA533;
$WO-60: #FFBC66;
$WO-40: #FFD299;
$WO-20: #FFEDD6;
$WO-10: #FFF6EB;

$WB-100: #1385F0;
$WB-80: #429DF3;
$WB-60: #71B6F6;
$WB-40: #A1CEF9;
$WB-20: #D0E7FC;
$WB-10: #E7F3FE;

$WW-100: #FFFFFF;
