$theme-color-1: #E6EDF3;
$theme-color-2: #004882;
$theme-color-3: #337AB7;
$theme-color-4: #2D2D2D;

$button-background: $theme-color-3;
$button-color: #FFFFFF;
$button-border: none;
$button-background-hover: $theme-color-3;
$button-border-hover: none;
$button-color-hover: #FFFFFF;
$button-border-radius: 0;
$card-border-radius: 0;
