$theme-color-1: #E6EAEF;
$theme-color-2: #002C5F;
$theme-color-3: #007FA8;
$theme-color-4: #000000;

$button-background: $theme-color-3;
$button-color: #FFFFFF;
$button-border: none;
$button-background-hover: $theme-color-3;
$button-border-hover: none;
$button-color-hover: #FFFFFF;
$button-border-radius: 0;
$card-border-radius: 0;
